header {
 background-color:#FFFFFF;
}
a, a:visited { /* Universal färg för länkar */
 color:#009E4C;
}
}
.logo a, .logo a:visited {
 color:#0E9E54;
}
.lander, .takeOff {
  color:#FFF;
}
h1 {

}
.lander p, .lander a {
 color:#FAFAFA;
}

h2 {

}
h3 {

}
p {
 color:#222;
}
.wrap {
 background-color:#EEE;
}
.wrap:first-of-type {
 background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/boy-6158164_.jpg');
 background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/boy-6158164.jpg');
 background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/boy-6158164.jpg');
}
.wrap:nth-of-type(2) {
 	/*background-image: url('white-179005_1920.jpg'); Valde att köra på en static bakgrund istället för kontraster */
	background-image: url('../img/macaron-1084049.jpg');
	background-attachment:scroll;
	background-size:auto;
	background-repeat:repeat;
}
.wrap:nth-of-type(3) {
 background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/atacama-desert-594605.jpg');
 background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/atacama-desert-594605.jpg');
 background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/atacama-desert-594605.jpg');
}
section {
 background:#FFF;
 box-shadow: 2px 2px 2px #333;
 border:1px solid #CCC;
 border-right:0;
 border-bottom:0;
}
.checklist li:not(li li) {
	/*background:no-repeat left center url('macarons_list_edit.png');*/
}
.checklist {
	list-style-image:url('../img/bookmark.png');
}