a, a:visited { /* Universal färg för länkar */
 color:#333;
}

p {
 color:#222;
}

header {
 background: rgb(10,180,255);
 background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/boy-6158164_.jpg');
 background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/boy-6158164.jpg');
 background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/boy-6158164.jpg');
 background-position:center 75%;
 background-size:cover;
 background-repeat:no-repeat;
}

.menuMobile	{
	border:solid 1px #333;
	box-sizing: border-box;
	background-color:#FFF;
}

#mmClick {
	
}

.headerbox a, .headerbox a:visited {
 color:#FAFAFA;
}

.logo a {
	box-shadow:inset 0 -1px #FAFAFA;
}

.logo a:hover {
	box-shadow:inset 0 -5px #FAFAFA;
}

nav .menu li a {
	border-bottom:1px solid #FAFAFA;
}

nav .menu li a:hover {
	box-shadow:0 -3px inset #FAFAFA;
}

.menuMobile a, .menuMobile a:visited {
	color:#333;
}

h1 {
 color:rgba(250,250,250,0.9);
}

.wrap {
 	background-color:#EEE;
	box-shadow: -2px 0 5px 5px rgba(0,0,0, 0.3); /* Snyggare transition mellan bilderna */
}

section {
 	background:#FFF;
}

.wrap:first-of-type {
	background-image: url('../img/dirt-947985_1920.jpg');
	background-attachment:scroll;
	background-size:contain;
	background-repeat:repeat;
	background-position: center;
}

.circlePhoto {
	background-color: white;
	border:0.5em solid white;
	background-image: url('../img/problem.png');
	background-size:calc(100% - 25%);
	background-repeat:no-repeat;
	background-position:center;
	box-shadow: 0 4px 0 #333;
}
.circleLeft {
	/*margin-left:0;*/
	background-image: url('../img/checklista.png');
}

.circleRight {
	/*margin-right:0;*/
	background-image: url('../img/struktur.png');
}

.circleHidden {
	background-image: url('../img/design.png');
}



#referenser {
	 background: rgb(10,180,255);
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/koala.jpg');
	background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/koala.jpg');
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/koala.jpg');
    background-size:cover;
    background-position:center;
}


.checklist {
	list-style-image:url('../img/bookmark.png');
}

.takeOff {
 	color:#FFF;
}

.credits a, .credits a:visited { /* Universal färg för länkar */
  	color:#FFFFAA;
}

footer {
	 border-top: 1px solid #ccc;
}

.footerDiv a:not(:first-of-type) {
	border-left :1px solid #333;
}