@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap'); /* Landing page */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); /* Rubriker */ /* Länkar */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap'); /* Brödtext */

a, a:visited {
 text-decoration:none;
 font-family: 'Roboto', sans-serif;
 font-weight:bold;
}

#mmClick {
	font-weight:bold;
}

.logo a, .logo a:visited {
 font-size: 2em;
 user-select: none;
}

.headerbox li a {
 font-size:1.5em;
 font-weight:bold;
}

h1 {
 text-align:right;
 font-family: 'Source Sans Pro', sans-serif;
 font-size:1.2em;
 font-weight: normal;
}

h3, h2 {
 font-family: 'Roboto', sans-serif;
 text-align:center;
 font-size:2em;
}

h4 {
	font-family: 'Roboto', sans-serif;
	margin:0.5em auto;
}

article p, .checklist > li, .credits {
 font-family: "Open Sans",sans-serif; /* Fonten är lik H2 och H1 men också skön att läsa många rader av. */
 margin:1em auto;
 transition-duration:0.2s;
 font-size:1.2em;
}

article p:first-of-type { /* Första paragrafen i varje stycke trycks in lite */
 text-indent:2em;
}

.credits {
	font-size:1.5em;
}

.takeOff a:hover, footer a:hover, article a:hover {
	text-decoration: underline;
}

footer {
	line-height:2em;
	text-align:center;
}

.footerDiv a {
	text-align: center;
}