* {
 padding:0;
 margin:0;
}
html, body{
 height:100%;
 scroll-behavior:smooth;
 animation-duration: 3s;
}
header {
 height:4em;
 display:flex;
 justify-content:space-between;
 align-items:center;
}
.logo {
 text-indent:1em;
 line-height:4em;

}
nav {

}
nav .menu {
 list-style-type:none;
 display:flex;
 line-height:4em;
}
nav .menu li {
 padding:0px 12px;
}
nav .menu li a:hover {
 border-bottom:1px solid #009E4C;
}
.wrap { 
 min-height:100%;
 display:flex;
 flex-direction:column;
 justify-content: center;
 align-items: center;
 gap:5em;
 padding:5em 0; /* Ger samma mellanrum i början och slutet av alla sektioner som GAP och att varje wrap fyller ut hela 16:9 skärmen */
 background-position:center;
 background-size:cover;
 background-repeat:no-repeat;
 background-attachment:fixed;
}
.lander, .takeOff {
 	user-select:none;
}
.lander a:hover p .hide { /* hover på a gör att vi kan visa båda pilarna */
 opacity:1;
 transition-duration:0.2s;
}

.hide { /* Animerar ut */
 transition-duration:0.1s;
 opacity:0;
}

section {
 width:50%;
 padding:1em 2em;
}

section article img { /* För att matcha avståndet som är i listorna */
	margin-right:0.2em;
}

.share {
	display:flex;
	justify-content: flex-end;
}

.share label  {
	font-weight:600;
	padding:0.2em 0.4em;
	border-radius:25%;
	user-select:none;
	border:1px solid transparent;
	order:3;
	align-self:flex-end;
	transform:scale(-1,1)
}

.share > p {
	font-weight:600;
	padding:0.2em 0.4em;
	border:1px solid transparent;
	border-radius:0.2em;
	visibility:hidden;
	align-self:flex-end;
	order:2;
	margin-right:0.2em;
}

input[type=checkbox]:checked ~ p {
	visibility:visible;
	background:#EEE;
	border:1px solid #DDD;
}

.share label:hover/*, input[type=checkbox]:checked ~ label*/ {
	cursor:default;
	background:#EEE;
	border-color:#DDD;
}

.share input[type=checkbox] {
	visibility:hidden;
}

.checklist, .credits {
	list-style:none;
}

.checklist li:not(li li):not(.nested)::after {
	content: ' \2713';
}

.checklist li li, .credits li li {
	list-style:none;
}

.checklist li li::before, .credits li li::before {
	content: '\23BF';
	margin-right:1em;
	vertical-align:bottom;
}


footer {
 min-height:2em;
 border-top: 1px solid #ccc;
}

@media screen and (max-width : 1134px ){
 main, aside, footer {
  border:none;
  clear:none;
 }
 main, aside {
  max-width:none;
  float:none;
  margin:0;
  border-bottom: 1px solid #ccc;
 }
}
