/* Stor skärm */

@media (min-width: 1281px) {
  
  /* CSS */
	section { /* När skärmen är hyfsat stor */
		width:70%; 
	}
}


/*
	smartphones & tablets
*/

@media (min-width: 320px) and (max-width: 1024px) {
  /* CSS */
  	header {
		display:none;
	}
	.hide {
		opacity:1;
	}
	section {
		width:calc(100% - 4em);
		padding-left:1em;
		padding-right:1em;
	}
	
	article, .takeOff{
		line-height:2em;
		font-size:2em;
	}
		
	.checklist li {
		list-style-image:none; /* Fick Inte Plats */
	}
	
	.wrap:nth-of-type(2) {
		background-size:contain;
	}
	#rickroll {
		display:none;
	}
}

/* 
   mobiltelefoner
*/

@media (min-width: 320px) and (max-width: 767px) {
  
  /* CSS */
	
	h1 {
		font-size:1em;
	}
	.lander p, h3 {
		font-size:1.5em;
	}
	.credits a {
		display:block;
		text-indent:2em;
	}
	section {
		width:calc(100% - 2em);
		padding-left:0.5em;
		padding-right:0.5em;
	}
	
	article, .takeOff {
		font-size:1em;
	}

	#artikel3 { /* Ändrar plats på sista artikeln enligt uppgiftens krav */
		order:2;
	}
}