/* Stor skärm */

/*
	smartphones & tablets
*/

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
  	.desktopmenu {
		display:none;
	}
	
	.slogan {
		justify-content: space-evenly;
	}
	
	.menuMobile {
		display:block;
	}
	
	h1 {
		font-size:2.2em;
		letter-spacing: normal;
		text-align: center;
	}
	
	.wrap {
		flex-wrap:wrap;
		
		align-items: center;
	}

	.wrap section {
		flex-basis:80%;
		order:2;
	}
	
	.wrap section:nth-of-type(4) {
		flex-basis: 80%;
		align-self: flex-start;
		order:1;
	}
	
	.wrap section:nth-of-type(2) {
		order:0;
	}
	
	.wrap section:not(:nth-of-type(2)){
		margin-top:20%;
	}
	
	article, .takeOff{
		font-size:2em;
	}
	
	.circleHidden {
		display: block;
	}
	
	.checklist li {
		list-style-image:none; /* Bilden blev för liten */
	}

}

/* 
   mobiltelefoner
*/

@media (min-width: 320px) and (max-width: 767px) {
  
  /* CSS */
	.desktopmenu {
		display:none;
	}
	
	.slogan {
		justify-content: space-evenly;
	}
	
	.menuMobile {
		display:block;
	}

	h1 {
		font-size:1.5em;
		letter-spacing: normal;
		text-align: center;
	}
	
	.wrap {
		flex-wrap:wrap;
		
		align-items: center;
	}

	.wrap section {
		flex-basis:100%;
		order:2;
	}
	
	.wrap section:nth-of-type(4) {
		flex-basis: 100%;
		align-self: flex-start;
		order:1;
	}
	
	.wrap section:nth-of-type(2) {
		order:0;
	}
	
	.wrap section:not(:nth-of-type(2)){
		margin-top:20%;
	}
	
	.circleHidden {
		display: block;
	}

}

